hi, ${msg}

test if:
#if($isTest)
    test list:
        #foreach($i in $list)
        list: $i
            test object list:
            #foreach($o in $objList)
            objlist: $o.msg $msg
            #end
        #end
#end